body {
    background-color: rgb(14, 14, 14);
    color: #fff;
    font-family: 'Ubuntu Mono', monospace;
}

:root {
    --highlight: rgb(85, 47, 255);
}

.display {
    border: none;
    border-radius: 10px;
    width: auto;
    height: 1em;
    min-height: 650px;
    max-height: 800px;
    margin: auto;
    margin-top: 20px;
}

.nav {
    width: 100%;
    font-size: 24pt;
    display: flex;
    flex-direction: row;
    background-color: rgb(20, 20, 20);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav p {
    margin: 20px;
}

.nav input {
    background-color: #000;
    border: none;
    color: #fff;
    padding-left: 10px;
    width: 100%;
    border-top-right-radius: 10px;
}

.nav input:focus {
    border: none;
    outline: none;
}

body *::selection, body *::-moz-selection {
    background-color: rgba(128, 128, 128, 0.521);
}

.terminal {
    border: none;
    width: 100%;
    height: 90%;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
}

.asciiParent {
    display: flex;
    margin: 0px 25px;
    height: 100%;
    width: auto;
}

.specs {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
    margin-top: 30px;
    font-size: 1.25em;
    margin-right: 25px;
}

.highlight {
    color: var(--highlight);
}

#hr-line {
    margin: 0px;
    padding: 0px;
}

.wrapp {
    text-align: left;
}

.color-palette {
    display: inline-block;
}

.color-palette img {
    width: 7em;
}

@media only screen and (max-width: 850px) {
    .terminal {
      flex-direction: column;
    }
    .specs {
        align-items: center;
        margin-top: 0%;
    }
    .display {
        width: 95%;
        height: 70vh;
        min-height: 1300px;
        max-height: 9000px;
        min-width: 320px;
        max-width: 900px;
    }
    .asciiParent {
        width: auto;
    }
    html body div.display div.terminal div.asciiParent pre#asciiPortPre code span {
        display: inline-block;
    }
}

@media only screen and (max-width: 500px) {
    #asciiPorted {
        font-size: 9px !important;
        line-height: 12px !important;
        letter-spacing: 7.5px !important;
        font-weight: 900 !important;
    }
    .asciiParent {
        height: auto;
    }
    .specs {
        margin-top: 0px;
    }
}

.ascii {
    width: 100%;
    border: none;
}

.lineBrowser {
    margin: 0;
    width: 355px;
}

.wrapp:focus { 
    outline: none; 
}

#yellowWF {
    background-color: rgb(255, 216, 0);
    padding: 4px;
    font-weight: 900;
}

#blackText {
    color: rgb(0, 0, 0) !important;
}

.pointer-hover {
    cursor: pointer;
}